@import "tailwindcss";
@import "@nuxt/ui";


@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/helveticaneuecyr_thin.woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/helveticaneuecyr_ultralight.woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/helveticaneuecyr_ultralightitalic.woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/helveticaneuecyr_roman.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/helveticaneuecyr_black.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


html {
    font-family: "HelveticaNeueCyr", sans-serif;
}

@theme {
    --font-sans: "HelveticaNeueCyr";
}

@theme {
    --color-dark-bg: #1a1a1a;
    --color-dark-bg-1: #4D4D4D;
    --color-bg: #fbfbfb;
    --color-bg-1: #f2f2f2;
    --color-bg-2: #D9D9D9;
    --color-fg: #f2f2f2;
    --color-dark-fg-1: #4D4D4D;
    --color-dark-fg: #1a1a1a;
}
