name: Deploy to GitHub Pages
on:
  push:
    branches: [ master ] # ваш branch
  workflow_dispatch: # manual run
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1 # Bun action
        with:
          bun-version: latest
      - run: bun install # вместо npm ci
      - run: bun run build # или bun run generate для static
      - uses: actions/upload-pages-artifact@v3
        with:
          path: .output/public

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
